{% extends "base.html" %}

{% block content %}
<div>
    <img src="{{ url_for('static', filename='img/MARS-2-7.png') }}">
    <h1>Аварийный доступ</h1>
</div>
<div>
    <h5>id астронавта</h5>
    <input type="text" class="form-control" id="text" name="id">
    <h5>пароль астронавта</h5>
    <input type="password" class="form-control" id="password " name="password ">
    <h5>id капитана</h5>
    <input type="text" class="form-control" id="text" name="id_cap">
    <h5>пароль капитана</h5>
    <input type="password" class="form-control" id="password" name="password_cap">
</div>
<button type="submit" class="btn btn-primary">Доступ</button>
{% endblock %}